<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/charts/css/timeseries.css">
    </head>

    <body>
        <div class="timeseries"></div>
    </body>

    <script src="../assets/libs/d3.v3.min.js"></script>
    <script src="../assets/libs/lodash.min.js"></script>
    <script src="../assets/libs/moment.min.js"></script>
    <script src="../assets/libs/timeseries.min.js"></script>
    <script src="../assets/charts/js/timeseriesplot.js"></script>
</html>